body {
    background-color: ivory;
}

.hide {
    display: none; 
    background-color: grey;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
}

.colombiaText {
    
top: 72%;
    left: 30%;
}

.mexicoText {
    top: 66%;
    left: 26%;
}

.greeceText {
    top: 58%;
    left: 55%;
}

.indonesiaText {
    top: 79%;
    left: 79%;
}

.indiaText {
    top: 62%;
    left: 68%;
}

