* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    background-color: white;
    
    
}
.TH-logo {
    width: 300px;
}

li {
    list-style: none;
}

.th-navbar {
    background-color: 0;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.7s ease;
    text-decoration: none;
}

.nav-link:hover {
    color: #0f4d36;
}

.nav-link:active {
    color: yellowgreen;
} 

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #0f4d36;
}

@media(max-width:768px){
    .hamburger{
        display: block;
      
        
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translate(8px) rotate(45deg); 
    }
    .hamburger.active .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg); 
    }
    .nav-menu {
        display: block;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        text-align: center;
        transition: 0.3s;
        z-index: 99;

    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
        text-align: center;
        color: yellowgreen;
    }
}
/* .topnav {
    overflow: hidden;
    font-family: 'Cormorant Garamond', serif;
}

.topnav a {
    float: right;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: darkgreen;
}

.topnav a.active {
    color: yellowgreen;
}
p {
    font-family: 'GFS Didot', serif;
} */

.hero {
   position: static;
   top: 10;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.hero-image {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
   
}
.mission {
    color: grey;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    position: static;

    
}
p {
    font-size: 1.2em;
}
.image {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img2 {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.footer {
    color: black;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 70px;
    background-color: rgb(245, 228, 220);
    font-family: 'Cormorant Garamond', serif;
}

.ctaBtn {
    font-family: 'GFS Didot', serif;
    font-size: 1em;
    color: white;
    background-color: #0f4d36;
    border-radius: 3px;
    padding: 7px;
    
}
button:hover {
    cursor: pointer;
}

.CTA {
    text-align: center;
}

