* {
    margin: 0;
    padding: 0;
}

/* body {
    /* background-color: lightblue; */
    /* overflow-x: hidden;
    overflow-y: hidden; 
} */

#name {
    position: absolute;
    background-color: white;
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid pink;
    padding: 5px;
    font-size: 1.5rem;
}

#info {
    background-color: white;
    width: fit-content;
    opacity: 1;
    border-radius: 5px;
    border: 3px solid pink;
    padding: 5px;
    font-size: 1.5rem;
}

svg {
    background-color: lightblue;
    max-width: 100%;
    height: auto;
    
}
svg path{
    cursor: pointer;
}





